@charset "utf-8";
/* CSS Document */
body
{
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-top:0px;
}

#logo
{
	background-image:url(../img/logoISE.png);
	width:320px;
	height:62px;
	float:left;
	margin-top:47px;
	margin-left:32px;
}

#name
{
	float:right;
	font-family:Impact;
	font-size:26px;
	color:#000;
	font-weight:500;
	margin-top:65px;
	margin-right:90px;
}



#contenedor
{
	width:100%;
	height:100%;
	background-image:url(../img/background.jpg);
	float:left;
	z-index:1;

}

#contenedorHojasInternas
{
	width:100%;
	height:100%;
	background-image:url(../img/backgroundInterna.jpg);
	background-repeat:repeat-x;
	float:left;
	z-index:1;
}



#pie
{
	width:100%;
	height:47px;
	background-image:url(../img/backgroundPie.jpg);
	float:left;
}

#pieCentro
{
	width:1180px;
	height:47px;
	background-image:url(../img/backgroundPie.jpg);
	margin-left:auto;
	margin-right:auto;
}

#copyright
{
	font-size:10px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	margin-left:12px;
	margin-top:18px;
	float:left;
}

#logoGlobal
{
	background-image:url(../img/logoGlobal.png);
	width:132px;
	height:28px;
	float:right;
	margin-top:10px;
	margin-right:0px;
	
}
	