@charset "utf-8";
/* CSS Document */
body{
	width: 100%;
	height: 100%; 
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-top:0px;
	top:0;

	
}

header{
	width: 100%;
	min-height: 135px;
	position:relative;
	border-bottom:14px solid;
	border-bottom-color: #ff9900; 
	box-sizing:border-box;
}

section{
	width:100%;
	min-height: 135px; 
	margin: auto;
	right: 5;
	left: 0;
	top: 0;
	/*border:1px solid black;*/
	padding-top: 30px;
	box-sizing: border-box;
	position: relative;
	background-color: rgb(255, 0, 0); /* IE */
   	background-color: rgba(255, 255, 255, 0.5);
}

#name{
	font-family: fantasy; 
	font-size:22px;
	text-aling:center; 
	padding-left:10px; 
	padding-top:40px;
	border-sizing: border-box; 
	float:left;
	height: 80px;
	text-align: center;
}

#logo{
	height: 80px;
	padding-left: 0px;
	box-sizing: border-box;
	z-index: 1;
	position: relative;
	margin-left: 0px;
	
}
footer
{
	width:100%;
	height:40px;
	background-image:url(../img/backgroundPie.jpg);
	position: inherit;
	bottom: 0;
	margin-bottom: 0px;
	float: left;
}


#pieCentro
{
	width:100%;
	height:47px;
	background-image:url(../img/backgroundPie.jpg);
	margin-left:auto;
	margin-right:auto;
}

#copyright
{
	font-size:10px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	
	margin-top:18px;
	float:left;
}

#logoGlobal{
	height:28px;
	float:right;
	margin-top:10px;
	
	
}

a:link   
{   
 text-decoration:none;   
}

.imglogoGlobal{
		float:right;
		
	}
@media (max-width: 768px) {
	
	#name{
		display: none;
	}
	section{
	padding-top: 30px;
	}

	#copyright{
		font-size: 5pt;
	}
	
	#logoGlobal{
		text-align: center;
	}
	.imglogoGlobal{
		float:none;
		margin-right: auto;
		margin-left: auto;
	}
}




@media (max-width: 400px){
	#copyright{
		display: none;
	}	

	#logoGlobal{
		text-align: center;
	}

	.imglogoGlobal{
		float:none;
		margin-right: auto;
		margin-left: auto;
	}

}


	