@charset "utf-8";
/* CSS Document */


article{
	width: 86%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	top:0; 
	bottom:0;
	position:absolute;
	z-index:0;
	text-align:center;  
	font-size: 10px;
}

main{
	width:100%;
	min-height: 500px;
	bottom: 0;
	background-color:transparent;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	border:0px solid black;
	display: inline-block;
	/*background-color:#222222;*/
}

nav{
	width: 100%;
	margin: auto;
	height: 30px;
	position: relative;
	margin-top: 110px;
	cursor: hand;
}

#home {
	width: 90%;
	height: 30px;
	
	background-repeat: no-repeat;
	cursor: pointer;
	margin-right: auto;
	margin-left: auto;
	/*margin-top: -50px;*/
}

#home:hover{
   opacity: 0.5;
}

.centro{
	height:340px;
	background-repeat: no-repeat;
	margin-left: 0px;
	padding-top: 0px;
	width: 50%;
	margin-right: auto;
	margin-left: auto;

}

.titulo{
	font-family: Impact;
    font-size: 20px;
    font-weight: 300;
    clear: both;
    width: 90%;
	margin:auto;

}

#texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    margin-top: 15px;
    text-align: justify;
    width: 90%;
    height: 400px;
    margin-left:auto;
	margin-right:auto;
}

section{
	padding-top: 0px;
}

@media (max-width: 800px) {
	
 #home{

 }
}

#name{
		display: none;
	}
}

@media (max-width: 600px) {
	

}

@media (max-width: 768px) {
  article{
    width: 100%;
  }
	
}