@charset "utf-8";
/* CSS Document */



#centro
{
	width:1180px;
	height:100%;
	background-image:url(../img/headerProductos.jpg);
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	z-index:5;
}


#btnInicio
{
	background-image:url(../img/btnInicio.jpg);
	width:54px;
	height:16px;
	margin-top:167px;
	margin-left:20px;
	float:left;
	cursor:pointer;
}

.productoNoSeleccionado
{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:14px; 
	font-weight:500;
	text-decoration:none;
	color:#333;
}

.productoSeleccionado
{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:13px; 
	font-weight:bold;
	text-decoration:none;
	color:#333;
}

.listadoProductos
{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:14px; 
	font-weight:500;
	text-decoration:none;
	color:#333;
	margin-top:5px;
}

#vineta
{
	background-image:url(../img/vineta.jpg);
	background-repeat:no-repeat;
	background-position:center;
	width:11px;
	height:14px;
	float:left;
	margin-right:3px;
	margin-top:8px;

}

#btnInicio:hover
{
	opacity:0.5;
}
	

#titulo
{
	font-family:Impact;
	font-size:20px;
	font-weight:300;
	margin-left:20px;
	width:310px;
	float:left;
}

#contenidoGaleria
{
	width:845px;
	height:400px;
	float:right;
	overflow:auto;
	

}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

#contenedorInferior
{
	width:1180px;
	/*height:450px;*/
	height:100%;
	margin-left:0px;
	margin-top:215px;
		
}
#texto
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	width:535px;
	float:left;
	margin-top:25px;
	margin-left:20px;
	
}


#imagenRepresentacion
{
	background-image:url(../img/bmz.jpg);
	width:303px;
	height:84px;
	margin-top:40px;
	margin-left:20px;
	float:left;
}
	
	