@charset "utf-8";
/* CSS Document */


#top{
	width: 86%;
	height: 254px;
	/*margin-left: -45%;*/
	/*left: 50%;*/
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	/*border: 1px solid black;*/
	zoom:1;
	text-align:center;
	position: absolute;
	background-image: url(../img/headerprod.jpg);
	background-repeat: no-repeat;
	
}

main{
	width:90%;
	/*min-height:240px;*/
	background-color:transparent;
	margin-left:auto;
	margin-right:auto;
	z-index:;
	position:inherit;
	padding-bottom: 50px;
	/*border:1px solid black;
	background-color:#222222;*/
}

nav{
	width: 90%;
	margin: auto;
	height: 30px;
	position: relative;
	/*border:1px solid red;*/
	margin-top: 110px;
	cursor: hand;
}

#home {
	width: 100px;
	height: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
	
}
.centro{
	height:340px;
	background-repeat: no-repeat;
	margin-left: 0px;
	padding-top: 0px;
	
	margin-right: auto;
	margin-left: auto;

}

#home:hover{
   opacity: 0.5;
}



.titulo{
	font-family: Impact;
    font-size: 20px;
    font-weight: 300;
    clear: both;
}

#texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    float: left;
    margin-top: 15px;
    text-align: justify;

}

.productoNoSeleccionado {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: #333;

}
.productoSeleccionado {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background-image: url(../img/vineta.jpg);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;

}

#izq{

min-height: 400px;
float: left;
margin-top:0px;
text-align: center;
/*border:1px solid red;*/
}

a:link{  
color: black;
text-decoration:none;  
}

