#centralContacto{
	width: 780px;
        height:520px;
}

#logo
{
	background-image:url('../imgs/logoPeq.jpg');
	width:146px;
	height:48px;
	float:right;
	margin-right:46px;
	margin-top: 6px;
	clear:both;
}

#izqContacto{
	
	width: 340px;
	height:419px;
	float:left;
	
}

#derContacto{
	
	width: 440px;
	height:419px;
	float:left;

}

.titulo
{
	color:#4c4c4c;
	float:left;
	clear:both;
	font-family:Impact;
	font-size:20px;
}

.texto{
	
	color:#000;
	float:left;
	margin-top:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	clear:both;

}


.camposNormales{
	text-align:left;
	width:315px;	
	color: #7589b1;
	clear:both;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
}


#cerrar{
	float:right;
	color: #7589b1;
	clear:both;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	margin-right:15px;
	margin-top:3px;
	text-align:right;
	text-decoration:none;
}

#iconoMapa
{
	background-image:url(../img/iconoMapa.jpg);
	width:53px;
	height:41px;
	margin-top:20px;
	float:right;
}

#btn_enviar
{
	background-image:url(../img/btn_enviar.jpg);
	width:61px;
	height:19px;
	float:right;
	margin-right:28px;
	cursor:pointer;
}

#btn_cancelar
{
	background-image:url(../img/btn_cancelar.jpg);
	width:61px;
	height:19px;
	float:right;
	margin-right:10px;
	cursor:pointer;
}